<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Recipe App</title>
  </head>
  <body>
    <h1>Recipe List</h1>
    <ul>
      {% for recipe in recipes %}
      <li>
        <a href="{{ recipe.id }}/">{{ recipe.title }} {{recipe.created_at}}</a>
      </li>
      {% endfor %}
    </ul>

    <a href="add/">Add New Recipe</a>
  </body>
</html> -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Collection</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header class="header">
      <h1>Welcome to the home of Recipe Collection.</h1>
    </header>
    <main class="container">
      <ul class="recipe-list">
        {% for recipe in recipes %}
        <li class="recipe-card">
          <a href="{{ recipe.id }}/">{{ recipe.title }} </a>
        </li>
        {% endfor %}
      </ul>

      <a class="add" href="add/">Add New Recipe</a>
    </main>

    <footer class="footer">
      <p>&copy; 2024 Recipe App</p>
    </footer>
  </body>
</html>
